docs
node_modules
*.log

.idea
.vscode

src/api
src/libs/config.js
src/libs/OneDriveTokens.json
src/libs/OneNoteTokens.json
src/public/daily-bulletin
src/public/user-backgrounds/*
!src/public/user-backgrounds/default
src/public/json
